<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCbGjcfLa456dSu7v8hbSFFM99_ZrPrW0</string>
	<key>GCM_SENDER_ID</key>
	<string>424378457785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutritrackV2</string>
	<key>PROJECT_ID</key>
	<string>nutritrack-af35a</string>
	<key>STORAGE_BUCKET</key>
	<string>nutritrack-af35a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424378457785:ios:749b717f255fae13730568</string>
</dict>
</plist>